@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Pretendard", system-ui, sans-serif;
  --font-mono: "Geist Mono", monospace;

  --color-toss-blue: #3182f6;
  --color-toss-bg: #f2f4f6;
  --color-toss-gray-900: #191f28;
  --color-toss-gray-600: #4e5968;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --sidebar-background: #ffffff;
  --sidebar-foreground: #191f28;
  --sidebar-primary: #3182f6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f2f4f6;
  --sidebar-accent-foreground: #3182f6;
  --sidebar-border: #f2f4f6;
  --sidebar-ring: #3182f6;
}

@layer base {
  body {
    @apply bg-toss-bg text-toss-gray-900 font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}